:root {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
