.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  font-size: 30px;
}

.question-container {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 15px;
  gap: 8px;
}

.option {
  background-color: rgb(205, 191, 191);
  border: 1px solid gray;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}

.btn {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.selected {
  background-color: rgb(64, 139, 164);
}
